* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-x: hidden;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding: 10px;
    background-color: #ffff;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.header-left img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header-left .header-search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
}

.header-search input {
    outline: none;
    border: none;
    background: none;
}

.header-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.header-options:hover {
    color: black;
}

.header-options h3 {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

.header-icon {
    margin-right: 5px;
    height: 20px;
    width: 20px;
}


.body_main {
    display: flex;
    margin-top: 35px;
    max-width: 1200px;
    margin: 0 20px;
}

.main {
    width: 100%;
}

.container {
    display: flex;
}
 
.right-section {
    margin-top: 40px;
    padding-left: 166px;
}


.right-section .card {
    
    width: 225px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.right-section .name {
    font-size: 16px;
} 

.right-section .subtitle {
    font-size: 12px;
    color: gray;
}

.right-section .details {
    text-align: center;
}

.right-section .details .banner {
    width: 222px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
}

.right-section .details .profile {
    position: absolute;
    height: 72px;
    width: 72px;
    border-radius: 50%;
    border: 2px solid white;
    margin: -42px;
}

.right-section .sidebar-item {
    display: flex;
    /* justify-content: ; */
}

.sidebar-item .item-heading {
    flex: 2;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.sidebar-item .count {
    flex: 1;
    font-size: 12;
    color: #0a66c2;
    font-weight: bold;
}

.right-section {
    margin-top: 40px;
}


/* feed section */
.feed {
    margin-top: 40px;
    margin-left: 30px;
}

.feed-card {
    width: 432px;
    background-color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: rgb(224 223 220);

}

.start-post {
    display: flex;
    padding: 12px;
}

.feed img {
    width: 42px;
    height: 42px;
    border-radius: 50%;   
}

.feed .input-field {
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border-color: rgb(182 182 182);
    width: 344px;
    height: 25px;
    margin-left: 10px;
    border-style: solid;
    border-width: thin;
}

.feed .input-field::placeholder {
    font-weight: 900;
    color: rgb(182 182 182);
}

.attachments {
    padding-bottom: 15px;
    margin-top: 15px;
}

.feed .attachments {
    display: flex;
    justify-content: space-evenly;
}

.feed .attachments .items {
    display: flex;
    align-items: center;
}

.attachments .photo {
    color: rgb(112 181 249);
}

.attachments .video {
    color: rgb(127 193 94);
}

.attachments .event {
    color: rgb(231 163 62);
}

.attachments .article {
    color: rgb(245 145 148);
}

.attachments .text {
    margin-left: 10px;

}

.post-container .about  {
    display: flex;
    padding: 12px;

}

.post-container .about .profile-details  {
    margin-left: 8px;

}

.post-container .profile-pic img {
    width: 48px;
    height: 48px;
    /* color: rgb(121 143 166); */
    filter: rgb(121 143 166);
}

.post-container .name {
    font-size: 14px;
    font-weight: bold;
}

.post-container .career {
    font-size: 12px;
    color: rgb(125 125 125);
}

.post-container .date {
    display: flex;
}

.post-container .date .time p, .post-container .date .public {
    font-size: 14px;
    color: rgb(125 125 125);
}

.post-container .post-text p {
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 14px;
}

.post-container .hashtage {
    font-size: 14px;
    color: #0a66c2;
    font-weight: bold;
}

.post-container .respond {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 12px;
}

.post-container .like,
.post-container .comment,
.post-container .share,
.post-container .send {
    display: flex;
    align-items: center;
}

.post-container .comment:hover,
.post-container .like:hover,
.post-container .share:hover,
.post-container .send:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}

.post-container .respond h4 {
    font-size: 14px;
    color: #666666;
}

.post-container .respond i  {
    color: #666666;

}